
/* filme principal */

.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0, .50)100%), url('https://www.themoviedb.org/t/p/original/fUfPjSBBRlbBBbyWdGVEm222wlN.jpg');

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin-bottom: 40px;
}

.titulo {
    font-size: 32px;
    text-transform: uppercase;
}