:root{
    --cor-primaria: #E50914;
    --cor-secundaria: #AAA;
    --cor-destaque: #fff;
    --cor-fundo: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
/*   border: 1px solid white;*/
}

body{ 
    background: var(--cor-fundo);
    font-family: 'Times New Roman', Times, serif;
    color: var(--cor-destaque);
}

header .container{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    color: var(--cor-primaria);
    font-family: 'Arial Black';
    font-size: 40px;
    text-transform: uppercase;
    margin-left: 10px;
}

header nav a {
    text-decoration: none;
    color: var(--cor-secundaria);
    margin-right: 10px;
}

header nav a:hover{
    color:var(--cor-destaque);
}
